<template>
<div class="container">
  <div v-for="(script,i) in scriptObj.scripts" :key="i">
    <input type="text" v-model="scriptObj.scripts[i]" style="width:450px;"> <button class="button-red" style="transform:scale(0.6)" @click="removeScript(i)">Remove Script</button>
  </div>
  <button @click="addScript">Add Script</button>
  <button @click="loadGame">Load Game</button>
  <div class="row">
    <div class="small-12 medium-7 columns" id="game-container">
      <div style="color:transparent">asdasd</div>
      <div id="edyst-game">

    </div>
    </div>
    <div class="small-12 medium-5 columns">


      <div><button class="button-yellow" @click="clearStorage">Clear Storage</button></div>
      <div class="edyst-game-info-item-container" v-if="gameConfig.has_highscore">

         <div>High Score</div>
        <div>{{gameConfig.highscore}}</div>


      </div>

      <div id="edyst-game-plugin" style="min-height:500px;">

          </div>




      <div class="edyst-game-info-container">

        <div class="edyst-game-info-item-container" v-if="gameConfig.has_score">
        <div>Score</div>
        <div>{{gameConfig.score}}</div>
      </div>

      <!--  -->
        <div class="edyst-game-info-item-container" v-if="gameConfig.has_moves">
        <div>Moves</div>
        <div>{{gameConfig.moves}}</div>
      </div>
      <!--  -->
      <div class="edyst-game-info-item-container" v-if="gameConfig.has_attempts">
        <div>Attempts</div>
        <div>{{gameConfig.attempts}} / <span v-if="gameConfig.has_max_attempts">{{gameConfig.max_attempts}}</span></div>
      </div>
      <!--  -->
      <div class="edyst-game-info-item-container" v-if="gameConfig.has_level">
        <div>Level</div>
        <div>{{gameConfig.level}}</div>
      </div>
      <!--  -->
      <div class="edyst-game-info-item-container" v-if="gameConfig.has_lives">
        <div>Lives</div>
        <div>{{gameConfig.lives}}</div>
      </div>

      <!--  -->
      <div class="edyst-game-info-item-container" v-if="gameConfig.has_time">
        <div>Time</div>
        <div >{{time!==NaN?time:"--"}}</div>
      </div>
      <!--  -->
      <div class="edyst-game-instructions-item-container">
        <div class="edyst-game-info-title" @click="showingInstructions=!showingInstructions" >
          <span>Instructions</span>
          <span :class="showingInstructions?'arrow-right':'arrow-down'"></span>
        </div>
        <div v-html="gameConfig.instructions" v-if="showingInstructions"></div>
      </div>
       </div>
      <!--  -->
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      scriptObj: {
        scripts: []
      },
      ///////////////////
      gameTimeRunOut: false,

      gameScriptLoaded: true, // Set to true so the button is hidden the first time it loads, script will take care of updating the state when requried
      gameStarted: false,
      /////
      height: 600,
      width: 600,
      ///////////////////////////////
      game: undefined,

      ///////////////////////
      timeInterval: "",
      ///////////////////////
      gameConfig: {
        highscore: 0,
        height: 480,
        width: 480,
        score: 0, /// Game User Score
        moves: 0, /// User Moves Made
        attempts: 0, /// User Attemps for games
        level: 1, /// Current Level player is in, get from the backend and pass to phaser, needs to update if player clears level
        instructions: "", /// comes from the phaser events, no dependency on backend
        lives: 0, /// Total Lives player has

        has_score: false, // UI Flag for game if it has score
        has_moves: false, // UI Flag for game if it has moves
        has_attempts: false, // UI Flag for game if it has attempts
        has_level: false, // UI Flag for game if it has level
        has_lives: false, // UI Flag for game if it has lives
        has_time: false, // UI Flag for game if it has time
        has_highscore: false,
        has_max_attempts: false,
        has_plugin: false
      },
      /////////////////////////
      time: 0, /// Game Time remaining
      showingInstructions: true

      /////////////////////
    };
  },
  methods: {
    clearStorage() {
      this.gameConfig = {
        highscore: 0,
        height: 480,
        width: 480,
        score: 0, /// Game User Score
        moves: 0, /// User Moves Made
        attempts: 0, /// User Attemps for games
        level: 1, /// Current Level player is in, get from the backend and pass to phaser, needs to update if player clears level
        instructions: "", /// comes from the phaser events, no dependency on backend
        lives: 0, /// Total Lives player has

        has_score: false, // UI Flag for game if it has score
        has_moves: false, // UI Flag for game if it has moves
        has_attempts: false, // UI Flag for game if it has attempts
        has_level: false, // UI Flag for game if it has level
        has_lives: false, // UI Flag for game if it has lives
        has_time: false, // UI Flag for game if it has time
        has_highscore: false,
        has_max_attempts: false,
        has_plugin: false
      };
      localStorage.gameConfig = JSON.stringify(this.gameConfig);
      this.gameConfig.height =
        document.getElementById("game-container").offsetWidth * 0.7;
      this.gameConfig.width =
        document.getElementById("game-container").offsetWidth * 0.7;
      this.loadGame();
    },
    addScript() {
      this.scriptObj.scripts.push("");
    },
    removeScript(index) {
      this.scriptObj.scripts.splice(index, 1);
    },

    loadGame() {
      var element = document.getElementsByTagName("canvas"),
        index;

      for (index = element.length - 1; index >= 0; index--) {
        element[index].parentNode.removeChild(element[index]);
      }
      // "https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js",
      // "https://storage.googleapis.com/production_edyst/memoryblocks_vZZ90.js"

      localStorage.scriptObj = JSON.stringify(this.scriptObj);
      console.log(localStorage.scriptObj);

      if (localStorage.gameConfig) {
        this.gameConfig = JSON.parse(localStorage.gameConfig);
      }

      meepoJS
        .loadScripts(this.scriptObj.scripts, { logging: false })
        .then(res => {
          this.gameConfig.height =
            document.getElementById("game-container").offsetWidth * 0.7;
          this.gameConfig.width =
            document.getElementById("game-container").offsetWidth * 0.7;

          console.log("GAME LOADED", this.gameConfig);

          this.game = GAME(this.gameConfig);
        });
    }
  },
  mounted() {
    if (localStorage.scriptObj) {
      this.scriptObj = JSON.parse(localStorage.scriptObj);
      console.log(localStorage.scriptObj);
    }
    if (localStorage.gameConfig) {
      this.gameConfig = JSON.parse(localStorage.gameConfig);
    }
    var myElement = document.getElementById("edyst-game");

    this.gameConfig.height =
      document.getElementById("game-container").offsetWidth * 0.7;
    this.gameConfig.width =
      document.getElementById("game-container").offsetWidth * 0.7;

    myElement.addEventListener("GAME_PRELOAD", e => {
      this.time = e.detail.leveltime;
      this.gameConfig = Object.assign({}, this.gameConfig, e.detail);
    });

    myElement.addEventListener("GAME_TIME_STARTED", () => {
      clearInterval(this.timeInterval);

      this.timeInterval = setInterval(() => {
        /// call your function here
        this.time = this.time - 1;
      }, 1000);
    });

    myElement.addEventListener("GAME_TIME_ENDED", () => {
      clearInterval(this.timeInterval);
      this.time = 0;
    });

    myElement.addEventListener("GAME_STATE_CHANGED", e => {
      this.gameConfig = Object.assign({}, this.gameConfig, e.detail);
      this.time = e.detail.leveltime;
    });

    myElement.addEventListener("LEVEL_COMPLETED", e => {
      clearInterval(this.timeInterval);
      //
      console.log("BEFORE DESTROY, BEFORE GAME STATE UPDATE", this.gameConfig);
      this.gameConfig = Object.assign({}, this.gameConfig, e.detail);
      localStorage.gameConfig = JSON.stringify(this.gameConfig);
      console.log("BEFORE DESTROY, AFTER GAME STATE UPDATE", this.gameConfig);
      //////////////////////////////////////////////////////////////
      this.gameConfig.height =
        document.getElementById("game-container").offsetWidth * 0.7;
      this.gameConfig.width =
        document.getElementById("game-container").offsetWidth * 0.7;
      this.game = GAME(this.gameConfig);
      console.log("AFTER CREATE", this.gameConfig);

      ///////////////////////////////////////////////////////////
    });

    myElement.addEventListener("GAME_OVER", e => {
      clearInterval(this.timeInterval);
      this.gameConfig = Object.assign({}, this.gameConfig, e.detail);
      this.time = e.detail.leveltime;
      localStorage.gameConfig = JSON.stringify(this.gameConfig);

      //

      clearInterval(this.timeInterval);
    });

    myElement.addEventListener("GAME_SAVE", e => {
      //
      this.gameConfig = Object.assign({}, this.gameConfig, e.detail);
      localStorage.gameConfig = JSON.stringify(this.gameConfig);
      clearInterval(this.timeInterval);
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  width: 1160px;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.game-script-fail-text {
  color: red;
  padding-bottom: 15px;
  font-family: "Poppins";
  font-weight: 300;
  padding-top: 8px;
}
.game-script-fail-container {
  border: 1px solid #f7b5b5;
  padding: 10px;
  background-color: #ffdada;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
canvas {
  margin: auto;
  width: 100%;
}
.injectionDiv {
  height: 500px;
}
#edyst-game-plugin {
  height: 500px !important;
  min-height: 500px;
  position: relative !important;
}
#edyst-game {
  padding: 20px;
}
.edyst-game-instructions-item-container li {
  font-family: "Poppins", sans-serif;
  padding-bottom: 8px;
  padding-top: 8px;
}
.edyst-game-info-container {
  margin-top: 30px;
}
.game-container-title {
  font-size: 1.6em;
  padding-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.edyst-game-info-title {
  font-weight: 700;
  text-align: center;
  font-size: 1.4em;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  user-select: none;
}
.edyst-game-instructions-item-container {
  background-color: #deeffd;
  width: 100%;
  margin: auto;
  padding: 8px;
  margin-top: 20px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
}
.edyst-game-info-item-container {
  background-color: #deeffd;
  width: 90%;
  margin: auto;
  padding: 8px;
  text-align: center;
  margin-top: 20px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
}
.edyst-game-instructions-item-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.edyst-game-instructions-item-container p {
  padding: 0;
  margin: 0;
  padding-top: 3px;
  padding-left: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.edyst-youtube-video-div {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.edyst-youtube-video-div > span {
  padding-right: 10px;
  display: inline-block;
  width: 30%;
}
.edyst-youtube-video-div > select {
  width: 60%;
  font-family: "Poppins", sans-serif;
  padding: 4px 6px;
  font-size: 0.9em;
  background-color: white;
  border-radius: 4px;
}
.edyst-youtube-video-div > option {
  background-color: #516dfa;
  color: white;
}
.edyst-youtube-video-succsmsg-div {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.edyst-youtube-video-succsmsg-div > span {
  padding-right: 10px;
  display: inline-block;
  width: 30%;
}
.edyst-youtube-video-succsmsg-div > input {
  width: 60%;
  font-family: "Poppins", sans-serif;
  padding: 4px;
}
.edyst-youtube-video-iframe-container > iframe {
  width: 80%;
  margin: auto;
  height: 400px;
}
.edyst-youtube-video-submit-button > button {
  display: block;
  margin: auto;
  margin-bottom: 60px;
}
.edyst-successful-note {
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #4caf50;
  padding-top: 10px;
  padding-bottom: 10px;
}
.edyst-valid-url-tip {
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  color: #ff5454;
  font-size: 0.9em;
}
</style>
